@model MvcStokProjesi.Models.Entity.Musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı:</label>
        @Html.TextBoxFor(x => x.MusteriAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MusteriAdi, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>Müşteri Soyadı:</label>
        <input type="text" class="form-control" name="MusteriSoyadi" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>

